.task{
    max-width: 450px;
    width: 100%;
    min-width: 200px;
    border-bottom: 1px solid black;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    text-align: left;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details h4{
    margin-bottom: 1em;
    font-size: 1.2em;
}

.actions{
    display: flex;
    flex-direction: column;
}

.actions i{
    padding: 10px;
    background: black;
    color: white;
    cursor: pointer;
    margin-bottom: 1em;
}